.even{
  background-color: #ece3ca;
}

.odd{
  background-color:#e4d7b3;
}

.detail-col{
  margin-left:1em;
  margin-top:0.5em;
  margin-right:1em;
  margin-bottom:0.5em;
}

.cardName{
  color:green;
}
